        {{!-- Individual Card Example --}}
    <div class="card mb-2">
        <h5 class="card-header">Featured Article</h5>
        <div class="card-body">
            <h5 class="card-title" data-id = "{{id}}">{{article-heading}}</h5>
            <p class="card-text">{{sample-text}}</p>
            <a class="btn btn-primary add-note">NOTES</a>
            <a class="btn btn-danger delete-article">DELETE</a>
        </div>
    </div>