
{{!-- Navbar At The Top --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Takeout Scraper</h1>
    <p class="lead">For those who prefer their food news scraped, not burnt</p>
    <button id = "new-scrape" class = "btn btn-primary">Scrape Now!</button>
  </div>
</div>

{{!-- Content For Articles --}}
<div class = "container">

        {{!-- Individual Card Example --}}
    <div class="card mb-2">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

        {{!-- Individual Card Example --}}
    <div class="card mb-2">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    {{#each articles}}
      {{> articles-block }}
    {{/each}}

</div>